// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


	.app-inputs{
		margin: 0 auto; 
	}
	.app-input-sub{
		margin: 45% auto; 
		width:90%;
	}

	.item-input,  {
		box-shadow: none !important;
		color: #009966;
	}

	.label-mod {
		margin-left: 1.5rem !important;
	}

	.item-inner {
		box-shadow: none !important;
	}
	
	.input-has-focus .label-md[floating],
	.input-has-value .label-md[floating] {
		color: #fff;
	}
	
	.input-mod {
		background-color: #d5d5d5;
    	border-radius: 2rem;
    	padding-left: 1.5rem;
	}

	.loading-md .spinner-crescent circle{
		//stroke: black !important;
	}

	.loading-spinner {
		.spinner-crescent circle {
			stroke: black;
		}
	}


